.bg-image {
    background-image: url("Background.jpg");
    filter: blur(10px);
    -webkit-filter: blur(10px);
}

#main-content {
    color: rgba(255,255,255, 0.9);
    background-color: #1B1F22;
}

#secret-input {
    background-color: #35383F;
    color: rgba(255,255,255, 0.9);
}
   
#secret-input:focus, textarea:focus {
    box-shadow: 0 0 15px #0AB9A8;
}

#proceed {
    background-color : #35383F;
    color: rgba(255,255,255, 0.9);
}

#theme-modifier {
    background-color : #D9D9D9; 
    border-color: #1B1F22;
}

p:last-child {
    background-color: #35383F;
    color: rgba(255,255,255, 0.9);
}