.bg-image {
    background-image: url("Background.jpg");
    filter: blur(7px);
    -webkit-filter: blur(7px);
}

#main-content {
    color: rgba(0, 0, 0, 0.75);
    background-color: white;
}

#secret-input {
    background-color: #D9D9D9;
    color: rgba(0, 0, 0, 0.75);
}
   
#secret-input:focus, textarea:focus {
    box-shadow: 0 0 15px orange;
}

#proceed {
    background-color : #D9D9D9;
    color: rgba(0, 0, 0, 0.75);
}

#theme-modifier {
    background-color : #35383F; 
    border-color:white;
}

p:last-child {
    background-color: white;
    color: rgba(0, 0, 0, 0.75);
}